bert-extractive-summarizer==0.7.0
pdfminer==20191125
preshed==3.0.5
streamlit==0.77.0
sentence-transformers==0.4.1.2
stqdm==0.0.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu
